@import '~react-flexview/lib/flexView.css';

$gradientGrey: linear-gradient(#FAFAFA, #E0E0E0);
$gradientMediumGrey: linear-gradient(#FAFAFA, #A7ABAB);
$alabaster: #F3F3F3;
$coolGrey: #D0D0D0;
$darkGrey: #767C7E;
$mediumGrey: #A7ABAB;
$charcoal: #2D373C;
$aquamarine: #6DB2DA;
$cerulean: #009bde;
$vermillion: #C93132;

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

$font-size: 15px !default;
$font-weight: normal !default;
$font-family: sans-serif !default;

$input-height: 38px !default;
$input-height-small: 30px !default;
$input-min-width: 150px !default;

$input-border-radius: 2px !default;
$input-font-size: 15px !default;

$input-background: $gradientGrey !default;
$input-border-color: $coolGrey !default;
$input-color: $mediumGrey !default;
$input-icon-color: $mediumGrey !default;

$input-background-hover: $gradientMediumGrey !default;
$input-border-color-hover: $input-border-color !default;
$input-color-hover: $charcoal !default;
$input-icon-color-hover: $charcoal !default;

$input-background-open: $gradientMediumGrey !default;
$input-border-color-open: $aquamarine !default;
$input-color-open: $charcoal !default;
$input-icon-color-open: $charcoal !default;

$input-color-has-value: $charcoal !default;

$input-button-background: transparent !default;
$input-button-background-hover: transparent !default;
$input-button-icon-size: 15px !default;
$input-clear-button-icon-size: 16px !default;
$input-clear-button-color: $mediumGrey !default;
$input-clear-button-color-hover: $vermillion !default;

$input-opacity-disabled: .6 !default;

$picker-width: 250px !default;
$picker-border: $coolGrey !default;
$picker-box-shadow: 2px 2px 2px $coolGrey !default;
$picker-border-radius: 2px !default;
$picker-header-background: $aquamarine !default;
$picker-header-color: white !default;
$picker-header-background-hover: $cerulean !default;
$picker-color: $mediumGrey !default;
$picker-background: white !default;
$picker-color-hover: $charcoal !default;
$picker-background-hover: alabaster !default;
$picker-current-color: $charcoal !default;
$picker-current-background: $alabaster !default;
$picker-current-color-hover: $charcoal !default;
$picker-current-background-hover: $coolGrey !default;
$picker-selected-color: white !default;
$picker-selected-background: $aquamarine !default;
$picker-selected-color-hover: white !default;
$picker-selected-background-hover: $aquamarine !default;
$picker-disabled-color: $coolGrey !default;
$picker-disabled-background: white !default;


.react-datepicker-component {
  position: relative;
  font-size: $font-size;
  font-weight: $font-weight;
  font-family: $font-family;

  .react-datepicker {
    margin-left: 5px;
    margin-top: 5px;
    display: inherit;
  }
}

// INPUT

.react-datepicker-input {
  position: relative;
  min-width: $input-min-width;
  height: $input-height;
  background: $input-background;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  &.is-small {
    height: $input-height-small;
  }
  input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 60px;
    font-size: $input-font-size;
    color: $input-color;
    &:focus {
      outline: none;
    }
    @include placeholder {
      color: $input-color;
    }
  }
  &:hover {
    background: $input-background-hover;
    border: 1px solid $input-border-color-hover;
    input {
      color: $input-color-hover;
      @include placeholder {
        color: $input-color-hover;
      }
    }
  }
  &.is-open {
    background: $input-background-open;
    border: 1px solid $input-border-color-open;
    input {
      color: $input-color-open;
      @include placeholder {
        color: $input-color-open;
      }
    }
  }
  &.has-value input {
    color: $input-color-has-value;
  }
  &.is-disabled {
    opacity: $input-opacity-disabled;
  }

  .button-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;

    .input-button {
      margin: 0 10px;
      background: $input-button-background;
      font-size: $input-button-icon-size;
      border-radius: 0 $input-border-radius $input-border-radius 0;
      cursor: pointer;

      &:hover {
        background: $input-button-background-hover;
      }
    }

    .clear-button {
      cursor: pointer;
      font-size: $input-clear-button-icon-size;
      color: $input-clear-button-color;
      &:hover {
        color: $input-clear-button-color-hover;
      }
    }
  }
}


// DATEPICKER

.react-datepicker.floating {
  position: absolute;
  z-index: 10000;
}

.react-datepicker {
  font-family: $font-family;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;

  .react-datepicker-container {
    border: 1px solid $picker-border;
    border-radius: ($picker-border-radius + 1);
    width: $picker-width;
  }

  .react-datepicker-top {
    text-align: center;
    background: $picker-header-background;
    border-top-left-radius: $picker-border-radius;
    border-top-right-radius: $picker-border-radius;
    color: $picker-header-color;

    .week-days {
      height: 35px;

      .week-day {
        cursor: default;
      }
    }

    .display {
      height: 35px;

      .react-datepicker-button {
        text-decoration: none;
        padding: 4px;
        text-align: center;
        &.button-left {
          padding: 4px 16px;
          border-top-left-radius: $picker-border-radius;
        }
        &.button-right {
          padding: 4px 16px;
          border-top-right-radius: $picker-border-radius;
        }
      }
      .react-datepicker-button.button-label.fixed:hover {
        background: transparent;
        cursor: default;
      }
      .react-datepicker-button.button-label:hover {
        background: $picker-header-background-hover;
      }
    }
  }

  .react-datepicker-row {
    margin-top: 0px;
    width: 100%;
    &:not(:last-child) {
      border-bottom: 1px solid $picker-border;
    }
    &:last-child .react-datepicker-picker {
      &:first-child {
        border-bottom-left-radius: $picker-border-radius;
      }
      &:last-child {
        border-bottom-right-radius: $picker-border-radius;
      }
    }
  }

  .react-datepicker-picker {
    color: $picker-color;
    background: $picker-background;
    cursor: pointer;
    text-decoration: none;
    &:not(:last-child) {
      border-right: 1px solid $picker-border;
    }
  }

  .react-datepicker-picker.day {
    min-height: 30px;
  }

  .react-datepicker-picker.month {
    min-height: 65px;
  }

  .react-datepicker-picker.year {
    min-height: 65px;
  }

  .react-datepicker-picker:hover {
    color: $picker-color-hover;
    background: $picker-background-hover;
  }
  .react-datepicker-picker.selected {
    color: $picker-selected-color;
    background: $picker-selected-background;
  }
  .react-datepicker-picker.current {
    color: $picker-current-color;
    background: $picker-current-background;
    &:hover {
      color: $picker-current-color-hover;
      background: $picker-current-background-hover

    }
  }
  .react-datepicker-picker.selected.current {
    color: $picker-selected-color;
    background: $picker-selected-background;
  }
  .react-datepicker-picker.disabled {
    cursor: default;
    color: $picker-disabled-color;
    background: $picker-disabled-background;
    &:hover {
      color: $picker-disabled-color;
      background: $picker-disabled-background;
    }
  }
  .react-datepicker-button {
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
  .react-datepicker-button:hover {
    background: $picker-header-background-hover;
  }
}
