$gradientGrey: linear-gradient(#FAFAFA, #E0E0E0);
$gradientMediumGrey: linear-gradient(#FAFAFA, #A7ABAB);
$coolGrey: #D0D0D0;
$darkGrey: #767C7E;
$mediumGrey: #A7ABAB;
$charcoal: #2D373C;
$cerulean: #009bde;
$vermillion: #C93132;


$font-size: 15px !default;
$font-weight: normal !default;
$font-family: sans-serif !default;

$input-height: 38px !default;
$input-height-small: 30px !default;
$input-min-width: 150px !default;

$input-border-radius: 5px !default;
$input-font-size: 15px !default;

$input-background: $gradientGrey !default;
$input-border-color: $coolGrey !default;
$input-color: $mediumGrey !default;
$input-icon-color: $mediumGrey !default;

$input-background-hover: $gradientMediumGrey !default;
$input-border-color-hover: $input-border-color !default;
$input-color-hover: $charcoal !default;
$input-icon-color-hover: $charcoal !default;

$input-background-open: $gradientMediumGrey !default;
$input-border-color-open: $cerulean !default;
$input-color-open: $darkGrey !default;
$input-icon-color-open: $charcoal !default;

$input-color-has-value: $charcoal !default;

$input-button-background-color: transparent !default;
$input-button-background-color-hover: transparent !default;
$input-button-icon-size: 15px !default;
$input-clear-button-icon-size: 16px !default;
$input-clear-button-color: $mediumGrey !default;
$input-clear-button-color-hover: $vermillion !default;

$input-opacity-disabled: .6 !default;


.react-datepicker-component {
  position: relative;

  .react-datepicker {
    margin-left: 5px;
    margin-top: 5px;
    display: inherit;
  }
}

// INPUT

.react-datepicker-input {
  position: relative;
  min-width: $input-min-width;
  height: $input-height;
  background: $input-background;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  &.is-small {
    height: $input-height-small;
  }
  input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 60px;
    font-size: $input-font-size;
    color: $input-color;
    &:focus {
      outline: none;
    }
  }
  &:hover {
    background: $input-background-hover;
    border: 1px solid $input-border-color-hover;
    input {
      color: $input-color-hover;
    }
  }
  &.is-open {
    background: $input-background-open;
    border: 1px solid $input-border-color-open;
    input {
      color: $input-color-open;
    }
  }
  &.has-value input {
    color: $input-color-has-value;
  }
  &.is-disabled {
    opacity: $input-opacity-disabled;
  }

  .button-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }

  .input-button {
    margin: 0;
    height: 100%;
    width: 50px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    background: $input-button-background-color;
    font-size: input-button-icon-size;
    border-radius: 0 $input-border-radius $input-border-radius 0;
    cursor: pointer;
  }

  .input-button:hover {
    background: $input-button-background-color-hover;
  }

  .clear-button {
    margin-right: 10px;
    cursor: pointer;
    font-size: $input-clear-button-icon-size;
    color: $input-clear-button-color;
    &:hover {
      color: $input-clear-button-color-hover;
    }
  }
}


// DATEPICKER

.react-datepicker.floating {
  position: absolute;
  z-index: 10000;
}

.react-datepicker {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;

  .react-datepicker-container {
    border: 1px solid #AEAEAE;
    border-radius: 4px;
    background-color: #FFFFFF;
    width: 200px;
  }

  .react-datepicker-top {
    text-align: center;
    background-color: #F0F0F0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #AEAEAE;

    .week-days {
      display: inline-block;
      height: 20px;
      margin-top: -4px;
      margin-bottom: -4px;

      .week-day {
        float: left;
        width: 24px;
        margin: 0 1px;
        cursor: default;
      }
    }

    .display {
      width: 200px;
      height: 35px;
      padding: 5px;

      .react-datepicker-button {
        float: left;
        width: 35px;
        height: 100%;
        border-radius: 4px;
        text-decoration: none;
        padding: 4px;
        display: block;
        text-align: center;
      }
      .react-datepicker-button.button-left .slow {
        margin-left: 10px;
      }
      .react-datepicker-button.button-right .fast{
        margin-left: 10px;
      }
      .react-datepicker-button.button-label {
        width: 119px;
      }
      .react-datepicker-button.button-label.fixed:hover {
        background-color: transparent;
        cursor: default;
      }
      .react-datepicker-button.button-label:hover {
        background-color: #DDDDDD;
      }
    }
  }

  .react-datepicker-body {
    padding: 0.5em;
    padding-bottom: 0.3em;
  }

  .react-datepicker-row {
    display: inline-block;
    margin-top: 0px;
    width: 100%;
  }

  .react-datepicker-picker {
    float: left;
    display: block;
    text-align: center;
    color: #BBBBBB;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    padding: 2px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .react-datepicker-picker.day {
    width: 24px;
    height: 24px;
  }

  .react-datepicker-picker.month {
    width: 23%;
    margin: 1%;
    height: 55px;
    align: center;
    line-height: 52px;
  }

  .react-datepicker-picker.year {
    width: 23%;
    margin: 1%;
    height: 55px;
    align: center;
    line-height: 52px;
  }

  .react-datepicker-picker.react-datepicker-button:hover {
    background-color: #EAEAEA;
  }
  .react-datepicker-picker.react-datepicker-button.selected {
    color: #F7F7F7;
    background-color: #3B83C0;
  }
  .react-datepicker-picker.current {
    color: #000000;
  }
  .react-datepicker-picker.selected.current {
    color: #F7F7F7;
  }
  .react-datepicker-picker.react-datepicker-button.disabled {
    color: #BBBBBB;
  }
  .react-datepicker-picker.react-datepicker-button.disabled:hover {
    color: #BBBBBB;
    background-color: rgba(0,0,0,0);
    cursor: default;
  }
  .react-datepicker-button {
    display: block;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    padding: 4px;
  }
  .react-datepicker-button:hover {
    background-color: #DDDDDD;
  }
}
